$bg-default: #009688
$color-default: #009688
$color-active: rgba(0,0,0,0.87)

=font-default()
  font-family: 'Roboto', sans-serif

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

=box-shadow($shadow)
  -webkit-box-shadow:   $shadow
  -moz-box-shadow:      $shadow
  -ms-box-shadow:       $shadow
  box-shadow:           $shadow

=box-sizing()
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

*
  +box-sizing
  margin: 0
  padding: 0
  +font-default
  font-size: 14px
  color: $color-default
  max-width: 100%
  line-height: 20px

img, p, input, span, textarea, form, div, i, a, button, code, table, h1, h2, h3, h4, h5, h6
  max-width: 100%

#header 
  text-align: center
  background: $bg-default
  padding: 15px 30px 35px
  h1
    font-weight: normal
    font-size: 57px
    font-weight: 300
    line-height: 1.5
    color: #fff
    b
      @extend h1
      font-weight: bold
  p
    font-weight: 300
    font-size: 20px
    line-height: 28px
    color: #fff

#content
  padding: 0 13px

.bank-image
  display: table-cell
  vertical-align: middle
  width: 58px
  padding-right: 14px

.newsfeed 
  width: 100%
  .loan-offer
    padding: 14px 0
    display: table
    width: 100%
    .content-offers 
      display: table-cell
      vertical-align: middle
      color: $color-active
      b 
        color: $color-active
    .bank-image img 
      border-radius: 100%
      float: left

.loan_registration 
  text-align: center
  background: #fff
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  padding: 26px 0
  +box-shadow(0px -35px 61px #fff)
  p 
    color: $color-default
    font-weight: 500
    margin-bottom: 18px
  .btn 
    display: inline-block

.btn 
    background: $bg-default
    border-radius: 4px
    +box-shadow(0px 5px 7px rgba(0,0,0,0.24))
    font-size: 18px
    line-height: 21px
    font-weight: 500
    color: #fff
    text-decoration: none
    padding: 12px 48px
