* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #009688;
  max-width: 100%;
  line-height: 20px; }

img, p, input, span, textarea, form, div, i, a, button, code, table, h1, #header h1 b, h2, h3, h4, h5, h6 {
  max-width: 100%; }

#header {
  text-align: center;
  background: #009688;
  padding: 15px 30px 35px; }
  #header h1, #header h1 b {
    font-weight: normal;
    font-size: 57px;
    font-weight: 300;
    line-height: 1.5;
    color: #fff; }
    #header h1 b {
      font-weight: bold; }
  #header p {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #fff; }

#content {
  padding: 0 13px; }

.bank-image {
  display: table-cell;
  vertical-align: middle;
  width: 58px;
  padding-right: 14px; }

.newsfeed {
  width: 100%; }
  .newsfeed .loan-offer {
    padding: 14px 0;
    display: table;
    width: 100%; }
    .newsfeed .loan-offer .content-offers {
      display: table-cell;
      vertical-align: middle;
      color: rgba(0, 0, 0, 0.87); }
      .newsfeed .loan-offer .content-offers b {
        color: rgba(0, 0, 0, 0.87); }
    .newsfeed .loan-offer .bank-image img {
      border-radius: 100%;
      float: left; }

.loan_registration {
  text-align: center;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 26px 0;
  -webkit-box-shadow: 0px -35px 61px #fff;
  -moz-box-shadow: 0px -35px 61px #fff;
  -ms-box-shadow: 0px -35px 61px #fff;
  box-shadow: 0px -35px 61px #fff; }
  .loan_registration p {
    color: #009688;
    font-weight: 500;
    margin-bottom: 18px; }
  .loan_registration .btn {
    display: inline-block; }

.btn {
  background: #009688;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.24);
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 12px 48px; }

/*# sourceMappingURL=style.css.map */
