<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app',
};
</script>

<style lang="sass">
*
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #009688;
  max-width: 100%;
  line-height: 20px;

body
  background: #EDF7FC

img, p, input, span, textarea, form, div, i, a, button, code, table, h1, #header h1 b, h2, h3, h4, h5, h6
  max-width: 100%

div.container
  max-width: 1312px
  padding-top: 0
  padding-bottom: 0

div.input-group__details
  min-height: initial

.input-group__details:before
  background-color: rgba(0,0,0,0.12)

.stepper__step__step
  background: rgba(0,0,0,0.26)
  color: #fff

.stepper__label
  color: rgba(0,0,0,0.45)

hr.divider
  background: rgba(0,0,0,0.12)

.stepper__step
  &.stepper__step--active
    span
      background: #429ACE
    .stepper__label
      color: #429ACE
      font-weight: 500
  &.stepper__step--complete
    span
      i
        font-weight: bold
        color: #fff
div.input-group--required
  label
    &:after
      content: ""

.input-group
  label
    color: rgba(0,0,0,0.38)

.error--text
  label
    color: currentColor

.input-group__messages
  div
    font-size: 12px

.input-group
  input
    color: rgba(0,0,0,0.38)
</style>
