<template>
  <img :src="src" :width="width" :height="height" />
</template>
<script>
export default {
  name: 'avatar',
  props: ['width', 'height', 'src']
}
</script>
<style lang="sass" scoped>
img
  border-radius: 100%
</style>