<template>
    <v-btn href="/abc123" :class="[class1 ? class1 : '']">{{text}}</v-btn>
</template>
<script>
export default {
  name: 'button',
  props: ['class1', 'text', 'href'],
  methods: {
    onClick: function () {
      this.$emit('click')
    },
  },
};
</script>
<style lang="sass" scoped>
a.btn, button.btn
  -webkit-box-shadow: none
  box-shadow: none
  letter-spacing: 0
  margin: 0
  padding: 0
  padding: 0 4px

.btn.btn1
  background-color: rgba(0,0,0,0.06)
  color: #429ACE
  font-weight: 500

.btn.submit
  background-color: #429ACE
  box-shadow: 0 4px 12px 0 rgba(66,154,206,0.24);
</style>

