<template>
  <div class="loan-offer">
    <div class="bank-image">
    </div>
    <div class="content-offers">
      <b>Citibank</b> đã cho một doanh nghiệp vay <b>500 triệu</b> trong <b>12 tháng</b> với lãi suất <b>1,23%</b>.
    </div>
  </div>
</template>
<script>
export default {
  name: "feed"
};
</script>
<style scoped>
.loan-offer {
  padding: 14px 0;
  display: table;
  width: 100%;
}
.content-offers {
  display: table-cell;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
}
b {
  color: rgba(0, 0, 0, 0.87);
}
img {
  border-radius: 100%;
  float: left;
}
</style>