<template>
  <div>
    <div id="header">
      <h1><b>instant.</b>vn</h1>
      <p>Kết nối ngân hàng với doanh nghiệp vừa và nhỏ</p>
    </div>
    <div id="content">
      <div class="newsfeed">
        <Feed></Feed>
        <Feed></Feed>
        <Feed></Feed>
        <Feed></Feed>
        <Feed></Feed>
      </div>
    </div>
    <div class="loan_registration">
      <p>Doanh nghiệp bạn muốn vay với lãi suất thấp nhất</p>
      <Link :class1="' btn active'" :text="'Đăng ký vay'" :src="'/dang-ky-vay'"></Link>
    </div>
  </div>
</template>
<script>
  import Link from '@/components/Link'
  import Feed from '@/components/feed'
  export default {
    name: 'home',
    methods: {
      onClick () {
        this.$emit('click');
      },
    },
    components: {
      Link,
      Feed,
    },
  };
</script>
<style>

#header {
  text-align: center;
  background: #009688;
  padding: 15px 30px 35px; }
  #header h1, #header h1 b {
    font-weight: normal;
    font-size: 57px;
    font-weight: 300;
    line-height: 1.5;
    color: #fff; }
    #header h1 b {
      font-weight: bold; }
  #header p {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #fff; }

#content {
  padding: 0 13px; }

.bank-image {
  display: table-cell;
  vertical-align: middle;
  width: 58px;
  padding-right: 14px; }

.newsfeed {
  width: 100%; 
}
  

.loan_registration {
  text-align: center;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 26px 0;
  -webkit-box-shadow: 0px -35px 61px #fff;
  -moz-box-shadow: 0px -35px 61px #fff;
  -ms-box-shadow: 0px -35px 61px #fff;
  box-shadow: 0px -35px 61px #fff; }
  .loan_registration p {
    color: #009688;
    font-weight: 500;
    margin-bottom: 18px; }



</style>
