<template>
  <a :href="href" :class="[class1 ? class1 : '']" @click="onClick">{{text}}</a>
</template>
<script>
export default {
  name: 'a-link',
  props: ['class1', 'href', 'text'],
  methods: {
    onClick () {
      this.$emit('click');
    },
  },
};
</script>
<style lang="sass" scoped>
a
  color: #258C94
  font-size: 14px
  line-height: 1.2
  text-decoration: none
  display: inline-block
  &:hover 
    text-decoration: underline
.btn
  border-radius: 4px
  font-size: 18px
  line-height: 1.2
  font-weight: 500
  color: #009688
  text-decoration: none
  padding: 12px 48px 
  display:inline-block
  cursor: pointer
  font-weight: 500
  border: 1px solid transparent 
  background: transparent
  box-shadow: none
  height: initial
  &:hover
    text-decoration: none

.btn:focus
  outline: none

.btn:hover
  box-shadow: none
  background: transparent

.btn.active
  background: #009688
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.24)
  -moz-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.24)
  -ms-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.24)
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.24)
  color: #fff

.btn.btnweb 
  font-size: 14px
  padding: 9px 19px
  color: rgba(0,0,0,0.54)

.btn.btnweb.btnweb1 
  background: #429ACE
  color: #fff

.btn.btnweb.btnweb2 
  color: #429ACE

.btn.btnweb.btnweb3 
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24), 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.24)
  background: #fff
  color: #006396

.btn.btnweb.btnweb4 
  background-color: rgba(0,0,0,0.06)
  color: #429ACE
  border-radius: 18px

.btn.btnweb.disabled 
  background: rgba(79,79,79,0.12)
  color: rgba(0,0,0,0.14)
  pointer-events: none

</style>

