<template>
  <div>
    <div class="text-xs-right" id="header-sale-register">
      <Button :class1="'btn1 btn--round'" :href="'/#/ab'" :text="'ĐĂNG NHẬP'"/>
    </div>
    <v-container >
      <v-layout row light>
        <v-flex xs6 order-lg2 offset-xs3>
          <v-form v-model="valid" ref="form" lazy-validation>
            <h3><b>instant.</b>vn</h3>
            <p>Đăng Ký Tài Khoản Bán Hàng Bán Hàng Bán Hàng</p>
            <v-stepper v-model="e1">
              <v-stepper-header>
                <v-stepper-step step="1" :complete="e1 > 1">Thông tin cá nhân</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="2" :complete="e1 > 2">Thông tin ngân hàng</v-stepper-step>
              </v-stepper-header>
              <hr class="divider1" />
              <br>
              <v-stepper-items>
                <v-stepper-content step="1">
                  <v-text-field
                    label="Họ và tên"
                    v-model="fullname"
                    :rules="fullnameRules"
                    required
                  ></v-text-field>
                  <v-text-field
                    class="input-desc"
                    label="Số điện thoại"
                    v-model="phone"
                    :rules="phoneRules"
                    required
                  ></v-text-field>
                  <small class="input-small">Chúng tôi sẽ gọi điện vào số điện thoại này để xác nhận thông tin đăng ký của bạn.</small>
                  <v-text-field
                    label="Mật khẩu"
                    v-model="pass"
                    :rules="passRules"
                    required
                  ></v-text-field>
                  <v-text-field
                    label="Nhập lại mật khẩu"
                    v-model="passconf"
                    :rules="passconfRules"
                    required
                  ></v-text-field>
                  <v-layout row text-xs-right justify-end>
                    <v-btn @click="clear" flat>Hủy</v-btn>
                    <v-btn @click.native="e1 = 2" round class="submit">
                      Tiếp tục
                    </v-btn>
                  </v-layout>
                </v-stepper-content>
                <v-stepper-content step="2">
                  <v-select
                    label="Ngân hàng"
                    v-model="nganhang"
                    :items="items"
                    :rules="[v => !!v || 'Ngân hàng không được bỏ trống']"
                    required
                  ></v-select>
                  <v-select
                    label="Tỉnh/Thành phố"
                    v-model="thanhpho"
                    :items="items"
                    :rules="[v => !!v || 'Tỉnh/Thành phố không được bỏ trống']"
                    required
                  ></v-select>
                  <v-text-field
                    label="Email công việc"
                    v-model="email"
                    :rules="emailRules"
                    required
                  ></v-text-field>
                  <small>Xin nhớ đánh dấu vào ô dưới.</small>
                  <div class="g-recaptcha" data-sitekey="6LfiwgoTAAAAAKNvusxPrTcQsVQvM8k3brDMp7dM"></div>
                  <small>Bằng việc đăng ký tài khoản, bạn đã đồng ý với Điều khoản sử dụng và Chính sách bảo mật của chúng tôi. </small>
                  <v-layout row class="step2">
                    <v-btn flat @click.native="e1 = 1">Trở lại</v-btn>
                    <v-layout row justify-end>
                      <v-btn flat>Hủy</v-btn>
                      <v-btn @click.native="e1 = 2" round class="submit">
                        ĐĂNG KÝ
                      </v-btn>
                    </v-layout>
                  </v-layout>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>

          </v-form>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import Button from '@/components/Button'
export default {
  name: 'sale-register',
  components: {
    Button
  },
  data: () => ({
    e1: 0,
    valid: true,
    fullname: '',
    fullnameRules: [
      (v) => !!v || 'Họ và tên không được để trống',
      (v) => v && v.length >= 3 || 'Họ và tên phải ít nhất có 3 ký tự'
    ],
    phone: '',
    phoneRules: [
      (v) => !!v || 'Số điện thoại không được để trống',
      (v) => /[0]{1}[0-9]{9,10}$/.test(v) || 'Số điện thoại không hợp lệ'
    ],
    pass: '',
    passRules: [
      (v) => !!v || 'Mật khâu không được để trống',
      (v) => v && v.length >= 6 || 'Mật khẩu phải có ít nhất 6 ký tự'
    ],
    passconf: '',
    passconfRules: [
      (v) => !!v || 'Mật khâu không được để trống',
      (v) => v && v.length >= 6 || 'Mật khẩu phải có ít nhất 6 ký tự'
    ],
    select: null,
    items: [
      'Item 1',
      'Item 2',
      'Item 3',
      'Item 4'
    ],
    checkbox: false
  }),
  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        // Native form submission is not yet supported
        axios.post('/api/submit', {
          name: this.name,
          email: this.email,
          select: this.select,
          checkbox: this.checkbox
        })
      }
    },
    clear () {
      this.$refs.form.reset()
    }
  },
};
</script>
<style lang="sass" scoped>

#header-sale-register
  text-align: right
  padding: 24px
  margin-bottom: 12px

form
  background: #fff
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 12px 24px 0 rgba(0,0,0,0.06)
  padding: 40px 24px 26px
  border-radius: 8px;

h3
  color: #429ACE
  display: inline-block
  line-height: 1
  font-size: 29px
  margin-bottom: 31px

h3 b
  color: #429ACE
  font-size: 29px

p
  color: rgba(0,0,0,0.87)
  font-size: 20px
  font-weight: 500
  line-height: 28px
  margin-bottom: 40px;

.btn
  &.submit
    background-color: #429ACE
    color: #fff
    padding: 0 14px
    box-shadow: 0 4px 12px 0 rgba(66,154,206,0.24)

.stepper
  -webkit-box-shadow: none
  box-shadow: none
  overflow: initial

.stepper__header
  -webkit-box-shadow: none
  box-shadow: none

.stepper__step:nth-child(1)
  padding: 0 25px 0 0

.stepper__step:nth-child(3)
  padding: 0 0 0 25px

hr.divider1
  border: none
  border-bottom: 1px solid rgba(0,0,0,0.12)
  margin: 19px 0
  width: calc(100% + 50px)
  margin-left: -25px
  max-width: initial

.stepper__content
  padding: 0

.error--text
  color: #FF5252 !important

small
  font-size: 12px
  line-height: 16px

.input-group
  margin-bottom: 20px
  &.input-desc
    margin-bottom: 0

small
  margin-bottom: 8px
  display: inline-block

.input-small
  margin-bottom: 20px

.g-recaptcha
  margin-bottom: 28px

.layout.step2
  margin-top: 18px;
</style>
